/* família de fontes: 'Noto Sans Armenian', sans-serif;
família de fontes: 'Noto Sans Pahawh Hmong', sans-serif; */
/* Noto Sans Pahawh Hmong - Regular 400 */
/* Noto Sans Armênio - Fino 100 | ExtraLight 200 | ExtraBold 800 */
:root{
    --primary-color:background-color: #8FFF31;
    --color-white: #ffffff;
    --gap: 3rem;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family:'Noto Sans Pahawh Hmong', sans-serif;
    font-size: 1.8rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Noto Sans Armenian", sans-serif;
}

h1{  
    font-size: 7rem;
}
h2{ 
    font-size:6rem;
}
h3{
    font-size: 6.3rem;
}
h4{
    font-size: 5.4rem;
}

a {
    text-decoration: none;
}

.main-bg{
    background-color: #8FFF31;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2365d800' %3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='1'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center center;
    color:var(--color-white);
}

.main-content{
    max-width: 1200px;
    margin:0 auto;
    padding:var(--gap)
}

.white-vh{
    color:var(--color-white)
}

.section-vh{
    min-height: 100vh;
}

.menu{
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}


.menu h1{
    font-size: 2.3rem;
}

.menu-content{
    display: flex;
    justify-content: space-between;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block
}