/* família de fontes: 'Noto Sans Armenian', sans-serif;
família de fontes: 'Noto Sans Pahawh Hmong', sans-serif; */
/* Noto Sans Pahawh Hmong - Regular 400 */
/* Noto Sans Armênio - Fino 100 | ExtraLight 200 | ExtraBold 800 */

*{
    padding: 0;
    margin: 0;
}

html{
    font-size:62,5%;
}

body{
    font-family:'Noto Sans Pahawh Hmong', sans-serif;
}

h1, h2, h3, h4{ 
     font-family: "Noto Sans Armenian", sans-serif;
}
h1{
    font-size: 6,5rem;
}

h2{
    font-size: 5,8rem;
}

h3{
    font-size: 5,2rem;
}
h4{
    font-size: 4,7r
}