.top3-content{
    display: flex;
    max-width: 64rem;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3.5rem;
    position: relative;
    padding-bottom: 3rem;
    padding-left: 5rem;
}

.main-tytle-one{
    margin-bottom: 1rem;
}

.grid-description{
    margin-bottom: 7rem
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 9rem;
    font-style: italic;
    top: -5rem;
    left: -2rem;
    transform: rotate(5.5deg)

}